<h1 class="text-3xl font-bold mb-4">Admin Panel</h1>
<p>Dobrodošli v admin panelu. Tukaj lahko upravljate novice, intervencije in kategorije slik.</p>
<ul class="list-disc pl-6 mt-4">
  <li><%= link_to "Upravljanje novic", admin_novicas_path, class: "text-blue-600 hover:underline" %></li>
  <li><%= link_to "Upravljanje intervencij", admin_intervencijas_path, class: "text-blue-600 hover:underline" %></li>
  <li><%= link_to "Upravljanje kategorij slik", admin_gallery_categories_path, class: "text-blue-600 hover:underline" %></li>
</ul>
