<!-- app/views/novicas/_novica.html.erb -->
<p>
  <strong>Naslov:</strong>
  <%= novica.naslov %>
</p>

<p>
  <strong>Vsebina:</strong>
  <%= novica.vsebina %>
</p>

<p>
  <strong>Datum:</strong>
  <%= novica.datum %>
</p>

<% if novica.images.attached? %>
  <h2>Images:</h2>
  <% novica.images.each do |image| %>
    <%= image_tag url_for(image) %>
  <% end %>
<% else %>
  <p>No images attached.</p>
<% end %>
