<!-- app/views/novicas/_novica.html.erb -->
<p>
  <strong>Naslov:</strong>
  <%= novica.naslov %>
</p>

<p>
  <strong>Vsebina:</strong>
  <%= novica.vsebina %>
</p>

<p>
  <strong>Datum:</strong>
  <%= novica.datum %>
</p>

<% if local_assigns[:show_images] && novica.images.attached? %>
  <h2>Slike:</h2>
  <% novica.images.each do |image| %>
    <%= image_tag url_for(image), alt: "Prikazana slika" %>
  <% end %>
<% end %>
